/* default setting */
body ul,button,a{
    text-decoration: none;
    border: none;
    list-style: none;
    padding: 0;
}

:root{
    --mainfoot-color: #757575;
    --webcolor: #2196F3;
    --websize: 26px;
    --studiocolor: #000;
    --studiocolor2: #FFFFFF;
    --backcolor: #2F303A;
}

body {
    font-family: "Roboto";
    line-height: "1.14%";
}

/* header code */
.nav-web {
    color: var(--webcolor);
    font-size: var(--websize);
}

.nav-studio {
    color: var(--studiocolor);
    font-size: var(--websize);
}

.nav-portpholio {
    color: var(--studiocolor);
    font-size: var(--websize);
}

.nav-contacts {
    color: var(--studiocolor);
    font-size: var(--websize);
}

.nav {
    color: var(--studiocolor);
}

.nav-contact {
    color: var(--mainfoot-color);
}
/* main code */
h1 {
    background-color:var(--backcolor);
    color: var(--studiocolor2);
}

button {
    background-color: var(--webcolor);
    color: var(--studiocolor2);
}

.section2-description {
    color: var(--mainfoot-color);
}

.section4-work {
    color: var(--mainfoot-color);
}
/* footer code */
footer {
    background-color: var(--backcolor);
}

.footer-address {
    color: var(--studiocolor2);
}

.footer-contact {
    color: var(--mainfoot-color)
}

.web {
    color: var(--webcolor)
}

.studio {
    color: var(--studiocolor);
}